In [1]:
# Lan Luo, CPSC 437, Database Project
# This file constructs a database from downloaded raw HTML files from the Yale Facebook for each college
# that compiles basic information on each Yale students (first name, last name, class year, college, address,
# country, major, and birthday) into a single relation.

In [2]:
# import HTML parser/processor
from bs4 import BeautifulSoup
# import to use for regex
import re
# import to use pandas as data frame tables
import pandas as pd
# import to use when shuffling/permuting each column in the pandas data frame
import numpy as np
# import to use when converting address to latitude, longitude coordinates
from geopy.geocoders import Nominatim
# import to wait when chunking to avoid time out
import time

In [3]:
# initialize final scraped data list variable
allfin = []

# loop through every college raw html file to get student information
for collegelist in ["Benjamin Franklin", "Berkeley", "Branford", "Davenport", "Ezra Stiles", "Grace Hopper", "Jonathan Edwards", "Morse", "Pauli Murray", "Pierson", "Saybrook", "Silliman", "Timothy Dwight", "Trumbull"]:
    # initialize variables
    collegeraw = None
    college = None
    # collegeraw for reading html file and then college as parsed cleanly
    collegeraw = open(collegelist + ".html").read()
    college = BeautifulSoup(collegeraw, 'html.parser')
    
    # split up each student into their own class
    classes = None
    classes = [student for student in college.find_all("div", class_="student_container")]
    
    # make each student into one string variable
    students = []
    for x in classes:
        students.append(str(x))
    # clean data by making it easier to split/extract information
    for i in range(len(students)):
        # remove extra html tags that won't be used to split the data
        students[i] = students[i].replace("</div>","")
        # replace html ampersand to &
        students[i] = students[i].replace("&amp;","&")
        # remove phone numbers (extraneous info - location information can be drawn from the home address)
        students[i] = re.sub('<br/>(\d{3} ?-)?\d{3}-\d{4} / ', "", students[i])
        # remove strange sequences of numbers (e.g. ending in YS), not address information so extraneous
        students[i] = re.sub('<br/>#? ?\d* YS', "", students[i])
        students[i] = re.sub('<br/>\d-\d{4} /', "", students[i])
        students[i] = re.sub('<br/>\d+ /', "", students[i])
        # if there's an american zip code, then add United States as a country to be consistent with students who have information for their foreign home country
        USzip = re.search('([A-Z]{2} \d{5}-?(\d{4})?)', students[i])
        if USzip:
            students[i] = students[i].replace(USzip.group(1), USzip.group(1) + "<br/>United States")    
    # split by line break to make creating a relation easier
    out = []
    for i in range(len(students)):
        out.append(students[i].split("<br/>"))
    
    # only include students with complete information 
    fin = []
    fin = [i for i in out if len(i) == 7]
    # duplicate variable to avoid python memory issue
    copy_fin = []
    copy_fin = fin[:] 
    
    # loop through each student
    for i in range(len(copy_fin)):
        # intialize column information
        yearsearch, emailsearch, lastsearch, firstsearch = None, None, None, None
        
        # extract year by matching with regex
        yearsearch = re.search('(\d{2})<div class="year_border">', copy_fin[i][0])
        if yearsearch:
            Year = "20" + yearsearch.group(1)
            
        # extract email by matching with regex
        emailsearch = re.search('href="mailto:(.*)">', copy_fin[i][0])
        if emailsearch:
            Email = emailsearch.group(1)
        
        # extract last name by matching with regex
        lastsearch = re.search('<h5 class="yalehead">(.*),', copy_fin[i][0])
        if lastsearch:
            LastName = lastsearch.group(1)

        # extract first name by matching with regex
        firstsearch = re.search('<h5 class="yalehead">.*, (.*) </h5>', copy_fin[i][0])
        if firstsearch:
            FirstName = firstsearch.group(1)
        
        # delete first value in list (long string with all the information extracted above)
        del copy_fin[i][0]
        # insert values for the information extracted above
        copy_fin[i].insert(0, collegelist)
        copy_fin[i].insert(0, Year)
        copy_fin[i].insert(0, Email)
        copy_fin[i].insert(0, LastName)
        copy_fin[i].insert(0, FirstName)
        # remove college tag at beginning of room sequence
        tagindex = (copy_fin[i][5]).find('-')
        copy_fin[i][5] = copy_fin[i][5][tagindex + 1:]
    
    # create variable to match room number appropriately (throws out rows with non-sensical rows)
    matchroomfin = []
    for i in range(len(copy_fin)):
        # if statement removes rows with an address for the room number value
        if len(copy_fin[i][5]) <= 6:
            # use regexes to match for appropriate room number types
            if re.search('[A-Z][0-9]{2}[A-Z]?', copy_fin[i][5]):
                matchroomfin.append(copy_fin[i])
            if re.search('\d{3}[A-Z]?', copy_fin[i][5]):
                matchroomfin.append(copy_fin[i])
    
    # create final scraped data list
    allfin.extend(matchroomfin)

In [4]:
# generate pandas data frame in line with ordering of scraped data list
DFfin = pd.DataFrame(allfin)
DFfin.columns = ['First Name', 'Last Name', 'Email', 'Class Year', 'College', 'Room', 'Street', 'City_State_ZIP', 'Country', 'Major', 'Birthday']

In [5]:
# drop last name to better anonymizedata
DFfin.drop(columns=['Last Name'])
# create new last name that's simply a duplicate of the first name
# this is great for anonymity since first names are hardly useful for uniquely identifying a person
DFfin['Last Name'] = DFfin['First Name']

# combine all address information into a single field
DFfin['Address'] = DFfin['Street'] + ", " + DFfin['City_State_ZIP'] + ", " + DFfin['Country']
# drop unnecessary columns
DFfin.drop(columns=['Street', 'City_State_ZIP', 'Email'])

# reorder data frame appropriately
DFfin = DFfin[['First Name', 'Last Name', 'Class Year', 'College', 'Address', 'Country', 'Major', 'Birthday', 'Room']]

In [6]:
DFfinv1 = DFfin.copy()
DFfinv2 = DFfin.copy()
# table with non-address info
DFfinv1 = DFfinv1.drop(columns=['Address', 'Country'])
# table with address info
DFfinv2 = DFfinv2.drop(columns=['First Name', 'Last Name', 'Class Year', 'College', 'Major', 'Birthday', 'Room'])
# permute/shuffle/randomize each column independently from the others
# perfectly anonymizes the data so that no single row gives any useful identifying information
DFfinv1 = DFfinv1.apply(np.random.permutation)
# this permutation does address information separately (since these need to be done together to preserve the location information)
DFfinv2 = DFfinv2.reindex(np.random.permutation(DFfinv2.index))

In [7]:
DFlast = DFfinv1.join(DFfinv2, how = "left")
DFlast = DFlast[['First Name', 'Last Name', 'Class Year', 'College', 'Major', 'Birthday', 'Room', 'Address', 'Country']]

In [8]:
# test for anonymity, indeed none of the information below matches my personal information
DFlast.loc[DFlast['First Name'] == 'Lan']

,First Name,Last Name,Class Year,College,Major,Birthday,Room,Address,Country
601,Lan,Dylan,2020,Trumbull,Undeclared,Apr 10,A31C,"20706 Kirwin Ln, Cupertino, CA 95014-4303, Uni...",United States

In [59]:
# # add field for address coordinates using geopy package
# geolocator = Nominatim(user_agent="school project")

# # manually create chunks to create coordinates, geocoder times out if the request is too long
# # create chunks without address
# DFchunks = []
# for i in range(176):
#     DFchunks.append( DFlast[i*25: (i+1)*25].copy() )
# # addresses added into chunks
# for i in range(len(DFchunks)):
#     print i
#     DFchunks[i]['LatLong'] = DFchunks[i]['Address'].apply(geolocator.geocode)
#     DFchunks[i]['LatLong'] = DFchunks[i]['LatLong'].apply(lambda x: (x.latitude, x.longitude) if x != None else None)
#     time.sleep(60)

In [ ]:
# # append all the chunks together into one large relation
# DFfinish = DFchunks[0]
# for i in range(1, len(DFchunks)):
#     DFfinish.append(DFchunks[i])

In [60]:
DFlast

,First Name,Last Name,Class Year,College,Major,Birthday,Room,Address,Country
0,Sydney,Connor,2020,Morse,Political Science,Mar 2,O32B,"39 Wiggins St, Princeton, NJ 08540, United States",United States
1,Simon,Aidan,2020,Davenport,Philosophy,Dec 1,B22,"PO Box 966, Norwell, MA 02061-0966, United States",United States
2,Annie,Nina,2022,Branford,"History Science, Medicine & PH",Sep 28,H21A,"13 Albert St, Brockton, MA 02302-1802, United ...",United States
3,Hailey,Joe,2021,Ezra Stiles,Undeclared,Aug 28,D52B,"1260 Calle Rancho Grande W, San Benito, TX 785...",United States
4,Amir,Karen,2019,Pierson,Undeclared,Jul 5,B21,"129 Reid Ln, Richmond, CA 94801-1719, United S...",United States
5,Aadit,Alex,2022,Timothy Dwight,History of Art,Jul 4,D14C,"2405 Whispering Hls, Chester, NY 10918-1567, U...",United States
6,Alessandra,Duncan,2021,Saybrook,Classics,Dec 11,L32D,"3147 Ar Ar Ribab Al Ansariyah, Jeddah, 2352380...",Saudi Arabia
7,Andrea,Arielle,2021,Trumbull,History,Dec 13,G63,"19 Charles St, Lewiston, ME 04240-4817, United...",United States
8,Cheryl,Emma,2021,Pierson,Elec.Engineering/Computer Sci,Aug 30,A46B,"9905 58th Ave, Corona, NY 11368-3713, United S...",United States
9,Helena,Jake,2019,Benjamin Franklin,Undeclared,Aug 17,C32B,"357 Larimore Valley Drive, Wildwood, MO 63005,...",United States
10,Claire,Garry,2020,Ezra Stiles,Undeclared,Mar 2,F51A,"7308 Waverly Ave, Nichols Hills, OK 73120-1431...",United States
11,Cristina,Eva,2021,Grace Hopper,Undeclared,Feb 5,C62A,"234 San Fidel Ave, La Puente, CA 91746-1846, U...",United States
12,Andrea,Carlos,2021,Morse,Undeclared,Jul 19,D21D,"40 Metropolitan Oval, Bronx, NY 10462-6617, Un...",United States
13,Will,Sonali,2021,Timothy Dwight,Computer Science & Psychology,Apr 26,J44B,"8346 150th Ct N, Palm Beach Gardens, FL 33418,...",United States
14,Hunter,Laura,2019,Jonathan Edwards,Economics,Aug 20,A42B,"116 Lees Ln, Egg Hbr Twp, NJ 08234-7031, Unite...",United States
15,Nneka,Veronica,2022,Benjamin Franklin,Undeclared,May 10,F33B,"10211 Estuary Dr, Tampa, FL 33647-2832, United...",United States
16,Abhishek,Olivia,2022,Pauli Murray,Undeclared,Jul 20,A31C,"2 Hilltop Rd, Short Hills, NJ 07078-1605, Unit...",United States
17,Malcolm,Jackson,2020,Benjamin Franklin,Undeclared,Nov 1,K31B,"106 Cabrini Blvd, New York, NY 10033-3422, Uni...",United States
18,Alex,Connor,2022,Davenport,Undeclared,Mar 25,J31B,"4133 Windgrove Xing, Suwanee, GA 30024-7098, U...",United States
19,Juliette,Brantley,2020,Branford,Economics,Jul 30,C51B,"50 Russell Ave, Suffield, CT 06078-1602, Unite...",United States
20,Adriana,Andrew,2019,Ezra Stiles,Undeclared,Oct 27,B31B,"8500 E Mississippi Ave Apt 77, Denver, CO 8024...",United States
21,Elian,Juan,2021,Grace Hopper,Undeclared,Feb 3,E41B,"125 Arcadia Ave, Santa Clara, CA 95051-6609, U...",United States
22,Caroline,Ryan,2022,Trumbull,Undeclared,Mar 18,E31,"202 Temuco Ln, Summerville, SC 29483-8972, Uni...",United States
23,Lizzy,Daniel,2021,Morse,Undeclared,Aug 8,A21C,"10 East Pavilion, Charlottesville, VA 22903, U...",United States
24,Azaria,Lauren,2021,Saybrook,English,May 19,A31C,"Glebe House, Aberdeenshire, AB21 0JB, United K...",United Kingdom
25,Jana,Erti,2021,Morse,Undeclared,Apr 15,D22A,"3058 W 24th St, Brooklyn, NY 11224, United States",United States
26,Jessie,Anika,2021,Pauli Murray,Computing and the Arts,Nov 8,A24B,"16 Wildwood Dr, Dix Hills, NY 11746-6041, Unit...",United States
27,Kyle,Narahari,2021,Trumbull,Undeclared,Feb 21,AB38,"77 Livingston St, New Haven, CT 06511-2409, Un...",United States
28,Michael,Matt,2019,Branford,Judaic Studies,Jan 4,A31B,"701 Hazelhurst Ave, Merion Station, PA 19066-1...",United States
29,Tony,Magda,2020,Grace Hopper,Economics,Apr 23,A12B,"1506 Shadford Rd, Ann Arbor, MI 48104-4463, Un...",United States
...,...,...,...,...,...,...,...,...,...
4306,Nina,Maggie,2019,Jonathan Edwards,Undeclared,Oct 15,I33B,"129 E 106th St, New York, NY 10029-4614, Unite...",United States
4307,Victor,David,2022,Berkeley,Undeclared,Mar 25,B35B,"25 Collamore St, Milton, MA 02186-5115, United...",United States
4308,Sean,Hubert,2020,Grace Hopper,Undeclared,Dec 13,I21B,"47640 Avalon Heights Ter, Fremont, CA 94539-83...",United States
4309,Georgii,Andrew,2022,Davenport,Undeclared,Dec 30,K42A,"112 Racket Rd, Chapin, SC 29036-8863, United S...",United States
4310,Aishwarya,Agasha,2020,Morse,Undeclared,Feb 4,H43,"27 Parkway, Montclair, NJ 07042-2308, United S...",United States
4311,Sophia,Neil,2020,Pierson,Undeclared,Jan 12,L31B,"34 Commonwealth Ave, Boston, MA 02116-3106, Un...",United States
4312,Hailee,Daniel,2020,Ezra Stiles,Undeclared,Nov 13,A32E,"24 Ballyconnor Crt, North York, ON M2M 4C6, Ca...",Canada
4313,Molly,Adhya,2019,Timothy Dwight,Undeclared,Nov 17,L43A,"40 Burden Dr, Oswego, NY 13126-4134, United St...",United States
4314,Alannah,Will,2022,Davenport,Psychology,Aug 20,D43,"33 Westgate Blvd, Manhasset, NY 11030-1452, Un...",United States
4315,Carli,Cory,2019,Pauli Murray,American Studies,Oct 7,N31B,"2992 Turtle Creek Rd, Laurel, MD 20724-1978, U...",United States
4316,Nishitha,Sukh,2021,Berkeley,Undeclared,Sep 5,C13B,"180 Via Foresta Ln, Buffalo, NY 14221-1983, Un...",United States
4317,Marcela,Emma,2020,Pauli Murray,Undeclared,Sep 23,A11C,"655 Jessanda Cir, Lakeland, FL 33813-2682, Uni...",United States
4318,Irene,Jonas,2022,Jonathan Edwards,"Molecular,Cellular,Dev Biology",Aug 9,F22B,"1260 Klines Run Rd, Wrightsville, PA 17368-912...",United States
4319,Candice,Charlie,2022,Jonathan Edwards,Undeclared,Sep 17,B01D,"7132 166th St, Fresh Meadows, NY 11365-3236, U...",United States
4320,Angela,Kalen,2021,Davenport,"Molecular,Cellular,Dev Biology",Aug 25,L44C,"Rm. 901, No. 190 Hubin East Road, Xiamen, 3610...",China
4321,Annie,Nelson,2020,Trumbull,Undeclared,Aug 30,A11A,"5 King Haven Ct, Plainsboro, NJ 08536-3134, Un...",United States
4322,Matt,Anissa,2020,Grace Hopper,Undeclared,Dec 6,E22A,"23 Hillcrest Ave, West Haven, CT 06516-3525, U...",United States
4323,Dan,Charlie,2022,Saybrook,Undeclared,Feb 14,F32A,"859 Wicklow Ln SW, Rochester, MN 55902-1691, U...",United States
4324,Griffin,Meng Fei,2021,Saybrook,Biomedical Engineering,Apr 2,C42E,"17 Nova Ln, Rochester, NY 14606-5829, United S...",United States
4325,Elena,Aki,2022,Timothy Dwight,"Molecular,Cellular,Dev Biology",Dec 16,D42B,"1517 Pulaski Ct, Suwanee, GA 30024-3656, Unite...",United States
4326,Ivy,Kieran,2021,Trumbull,Undeclared,Nov 13,201,"14 October Hill Rd, Woodbridge, CT 06525-1147,...",United States
4327,Vincent,Syimyk,2020,Ezra Stiles,Undeclared,Aug 14,A51C,"1784 Sashabaw Dr, Okemos, MI 48864-3841, Unite...",United States
4328,Becca,Trent,2019,Saybrook,Undeclared,Aug 31,E22D,"Pu dong new area, Yu Pan bei Road, 288 Nong, N...",China
4329,Linc,Cubby,2022,Pierson,Undeclared,Oct 5,C21,"1701, Building 1 Unit 5, Da Hu Gong Guan, 2 Qi...",China
4330,Fanny,Michaela,2020,Pauli Murray,Undeclared,Mar 1,E14D,"76 Christie Knoll Hts SW, Calgary, AB T3H 2V2,...",Canada
4331,Ivanna,Leck,2019,Berkeley,Undeclared,Jan 5,F13,"12710 Buttonwood Ln, Knoxville, TN 37934-7427,...",United States
4332,Lucy,Danny,2019,Saybrook,English,Sep 22,L25,"3909 Lago DI Grata Cir, San Diego, CA 92130-86...",United States
4333,Ashley,Tessa,2021,Pierson,Economics,Jun 17,C31E,"164 NW 92nd Ave, Pembroke Pines, FL 33024-6367...",United States
4334,Andy,Josh,2021,Benjamin Franklin,Undeclared,May 26,H32E,"1100 Collingwood Rd, Alexandria, VA 22308-1724...",United States
4335,Kelly,Zoe,2022,Saybrook,Chemical Engineering,Feb 5,L20A,"3159 N Cross Bridges Rd, Columbia, TN 38401-71...",United States

In [61]:
DFlast.to_csv("studentdata.csv")